<html>
  <head></head>
  <body>
      <h1 class="heading">ようこそ <strong>Bookers</strong>  へ！</h1>
      <p class="explanation"><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p><p class="explanation">印象を共有し交換することができます</p>
      <p class="explanation"><a href="/books">start</a></p>
  </body>
</html>
